*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    
}
html {
    scroll-behavior: smooth;
}

.background{
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    
    max-width: 100%;
    height: 100vh;
}

body {
    background-color: #5c5c5a;
}

header{
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    text-align: center;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    background: transparent;
    transition: all .35s ease;
    background-color: #202019;
}


.titulo {
    color: white;
    letter-spacing: -1px;
    font-size: 35px;
}

#menu-pc {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    user-select: none;
}

#menu-mobile {
    display: none;
    width: 100%;
    user-select: none;
}

.cabeçalho-link{
    display: flex;
    gap: 3rem;
}

.cabeçalho-link a{
    color: #ffffff;
    font-weight: 700;
    transition: 0.3s;
}

.cabeçalho-link a:hover{
    color: #f3d7ca;
}

.icon span{
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

.icon span:hover{
    color: #d6a28a;
}

.Meio{
    padding: 7rem 0 0 8.5rem;
    line-height: 3rem;
}

.Meio h1{
    font-size: 30px;
    
}

.Meio p {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px
}

.Meio button{
    background-color: #202019;
    padding: 1rem 3rem 1rem 3rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;

}

.Meio button:hover{
      background-color: white;
      transform: scaleY(1.2);
      color: #000;
      border: 2px solid #000;
}

section{
    padding-top: 7rem;
}

section h1{
    font-size: 2rem;

}

#categorias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left:60px;
}

.Container-card-1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 30px;
}

.cards {
    display: flex;
    flex-direction: column;
}

.cards a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    padding-bottom: 5px;
}

.cards img{
    width: 300px;
    height: auto;
    transition: 0.35s ease;
    
}

#Produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Container-roupas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 3rem;  
}

#bermudas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Container-street {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin-top: 3rem; 
}

#streetwear {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Container-roupas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.roupa{
    background-color: #000000;
    color: #fff;
    text-align: center;
}

.roupa img{
    width: 300px;
    height: auto;
}

.last-text {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.Contato {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: .4rem;
    box-shadow: 0 6px 12px rgba(0,0,
    0,.175);
    gap: 20px;
}


.social i {
    font-size: 50px;
    transition: all .3s ease-in-out;
}
 
.social a {
    color: #fff;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 800px) {
    header {
        padding-bottom: 0;
    }
    #menu-pc {
        display: none;
    }
    #menu-mobile {
        display: block;
    }
    #menu-icon {
        margin-top: 10px;
        font-size: 40px;
        color: #fff;
        border-bottom: 1px solid #ffffff57;
        border-top: 1px solid #ffffff57;
        width: 100%;
        transition: 1s;
        cursor: pointer;
    }
    #menu-burg {
        display: none;
    }
    #menu-icon:hover {
        background-color: #5c5c5a;
    }
    #menu-mobile > nav {
        padding: 20px 0px; 
    }
    #menu-mobile > nav > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    #menu-mobile > nav > ul > li {
        position: relative;
        padding: 5px;
        border-bottom: 1px solid #ffffff28;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 1s;
    }
    #menu-mobile > nav > ul > li:hover {
        background-color: #5c5c5a;
    }
    #menu-mobile > nav > ul > li > a {
        color: #fff;
        padding-top: 10px;
        padding-right: 200px;
        overflow: hidden;
    }
    .icon-menu {
        color: #fff;
        font-size: 20px;
        position: absolute;
        right: 1px;
    }  /*menu-mobile */

    .Meio {
        padding: 140px 10px 0px;
    }

    #categorias {
        padding-left: 0;
    }

    .background {
        height: 75vh;
    }

    .cards a {
        font-size: 13px;
    }

    .cards img {
        width: 150px;
        height: auto;
    }

    .roupa {
        width: 150px;
    }

    .roupa img {
        width: 150px;
    }

    
}